.image1{
    height: 400px;
    width: 600px;
    box-shadow: 5px 5px 5px 5px;
}
.image2{
    height: 300px;
    width: 300px;
}
.image3{
    height: 300px;
    width: 300px;
}
.image4{
    height: 300px;
    width: 300px;
}
.image5{
    height: 300px;
    width: 300px;
}
.image6{
    height: 300px;
    width: 300px;
}
.image7{
    height: 300px;
    width: 300px;
}